/* Shop-Layout */

div.shop {

    margin-top: 3vh;
    width: 100%;

    & > p {
        font-family: Ysabeau, sans serif;
        font-size: 3vh;
        margin-top: 3vh;
        margin-bottom: 3vh;
    }

    :is(div, select, option, input) {
        font-family: Albert Sans, sans serif;
        font-size: 3vh;
    }

    div.row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    div.row {
        border-top: 2px solid #ccc;
    }

    div.row ~ div.row {
        border-top: 0;
    }

    div.row {
        border-bottom: 2px solid #ccc;
    }

    div.row > div:first-child {
        border-left: 2px solid #ccc;
    }

    div.row > div {
        border-right: 2px solid #ccc;
    }

    div.row:not(:has(div:nth-child(3))) div {
        width: 50%;
    }

    div.row:not(:has(div:nth-child(2))) div {
        width: 100%;
    }

    div.row:has(div:nth-child(3)) {
        div:first-child {
            width: 50%;
        }
        div:not(:first-child) {
            width: 25%;
        }
    }

    div.row :is(input, select) {
        width: 100%;
        height: 100%;
        border: 0;
        background-color: transparent;
    }

    div.row div:not(:has(input, select)),
    div.row :is(input, select) {
        padding: 3vh;
    }

    div.row :is(input[type="button"], input[type="submit"]) {
        cursor: pointer;
        background-color: aliceblue;
    }

    div.row :is(div, input, select) {
        text-align: center;
    }

    div.row > div.error {
        border: 2px solid red;
    }
}
