<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}miaiqi cards{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'cards/styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">    {% block extra_head %}{% endblock %}
</head>
<body>
    <div class="container">
        <aside>
            {% include 'layout/sidebar.html' %}
        </aside>
        <main class="main-content">
            {% block content %}{% endblock %}
        </main>
    </div>
</body>
</html>