{% load i18n %}

<nav>
    <a href="{{ previous_postcard.get_absolute_url }}{% if section %}?section_id={{ section.id }}{% endif %}"{% if not previous_postcard %} class="disabled"{% endif %}>{% trans '◅ zurück' %}</a> ·
    <a href="{% url 'page' %}{% if section %}#{{ section.css_id }}{% endif %}">{% trans 'schließen' %}</a> ·
    <a href="{{ next_postcard.get_absolute_url }}{% if section %}?section_id={{ section.id }}{% endif %}"{% if not next_postcard %} class="disabled"{% endif %}>{% trans 'weiter ▻' %}</a>
</nav>
