{% extends 'miaiqi_cards/base.html' %}
{% load static markdown %}

{% block head %}
    <title>{{ postcard.title }}</title>
    <link rel="stylesheet" href="{% static 'miaiqi_cards/postcard.css' %}">
    {{ block.super }}
{% endblock %}

{% block content %}
    <main>
        <section class="postcard-section">
            <h1>{{ postcard.title }}</h1>
            <div class="postcard">
                <img class="postcard-image" src="{{ postcard.image.url }}" alt="{{ postcard.title }}">
                {% if postcard.description %}
                    <div>{{ postcard.description|markdown_to_html }}</div>
                {% endif %}
            </div>
            {% if previous_postcard or next_postcard %}
                {% include "postcards/navigation.html" %}
            {% endif %}
        </section>
    </main>
{% endblock %}
