{% extends 'pages/base.html' %}

{% block head %}

    <title>miaiqi cards</title>
    {{ block.super }}
    {{ media }}

    {% comment %} <style>
        body {
            background-image: url("{{ page.background_image.url }}");
            background-position: 30% center;
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: auto 100vh;
        }
    </style> {% endcomment %}

{% endblock %}

{% block content %}

    <main>
        <section id="welcome">
            <a href="#shop"><h1>{{ page.title }}</h1></a>
            <a href="#gallery"><img src="{{ page.background_image.url }}" alt="{{ page.title }} background image"></a>
            <a href="#info"><h2>{{ page.subtitle }}</h2></a>
        </section>

        {% for section in regions.main.sections %}
            <section class="{{ section.obj.css_class }}">
                {{ section.html }}
            </section>
        {% endfor %}

    </main>

    <footer>

        {% for section in regions.footer.sections %}
            <div>
                {{ section.html }}
            </div>
        {% endfor %}

    </footer>

{% endblock %}
