{% extends 'layout/base.html' %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'cards/galery.css' %}">
{% endblock %}

{% block title %}miaiqi cards{% endblock %}

{% block content %}
    <h1>Galerie</h1>

    <div class="postcards-container">
        {% for postcard in postcards %}
            <a class="postcard-item" href="{{ postcard.get_absolute_url }}">
                <img src="{{ postcard.image.url }}" alt="{{ postcard.title }}" class="postcard-image">
                <div>{{ postcard.title }}</div>
            </a>
        {% empty %}
            <p>No postcards available.</p>
        {% endfor %}
        <div class="more-cards">More are coming soon...</div>
    </div>
{% endblock %}