{% extends 'cards/base.html' %}
{% load static %}

{% block head %}
    <title>miaiqi cards</title>
    {{ block.super }}
    <style>
        body {
            background-image: url("{% static 'cards/background.png' %}");
            background-position: 30% center;
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: auto 100vh;
        }
    </style>
{% endblock %}

{% block content %}
    <section id="welcome">
        <div>
            <h1>miaiqi cards</h1>
            <h2>Mit Liebe gezeichnete Postkarten. Inspiriert von der Schönheit der Natur.</h2>
        </div>
    </section>
    <section id="postcards">
        <h2>Gallerie</h2>
        <div>
            {% for postcard in postcards %}
                <a href="{{ postcard.get_absolute_url }}">
                    <figure>
                        <img class="postcard-image" src="{{ postcard.image.url }}" alt="{{ postcard.title }}">
                        <figcaption>{{ postcard.title }}</figcaption>
                    </figure>
                </a>
            {% empty %}
                <p>No postcards available.</p>
            {% endfor %}
            <div class="postcard-image">More are coming soon...</div>
        </div>
    </section>
    <section id="info">
        <h2>Info</h2>
        <p>Miaiqi-Cards sind in zwei Größen verfügbar: 12,1 x 12,1cm und 14,8 x 14,8cm.</p>
        <p>Sie werden auf hochwertigem nachhaltig produziertem Naturkarton gedruckt.</p>
        <p>Sie sind gegen eine Spende von 2 bis 3 Euro erhältlich.</p>
        <p>Schreib mir einfach eine Email wenn Du Interesse hast: <i>thomas.leichtfuss(at)posteo.de</i></p>
    </section>
    <footer>
        {% block footer %}
            <div>
                <p>Kontakt:</p>
                <p>thomas.leichtfuss(at)posteo.de</p>
                <p>0152 33894457</p>
            </div>
            <div>
                <p>Thomas Leane Leichtfuß</p>
                <p>Rheindorfer Straße 56</p>
                <p>53225 Bonn-Beuel</p>
            </div>
            <div>
                <p>Copyright © 2024 miaiqi cards.</p>
                <p>Design und Umsetzung:</p>
                <p>Thomas Leane Leichtfuß</p>
            </div>
        {% endblock %}
    </footer>
{% endblock %}
