{% extends 'layout/base.html' %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'cards/welcome.css' %}">
{% endblock %}

{% block title %}{{ postcard.title }} - miaiqi cards{% endblock %}

{% block content %}
    <div class="welcome-text">
        <h1>Willkommen!</h1>
        <h2>Mit Liebe gezeichnete Postkarten. Inspiriert von der Schönheit der Natur.</h2>
    </div>
    <img class="welcome-image" src="{{ postcard.image.url }}" alt="{{ postcard.title }}">
{% endblock %}