{% load sections static markdown compress %}

{% partialdef head %}
    <link
        rel="preload"
        href="{{ postcard.image.url }}"
        imagesrcset="{{ postcard.image.srcset }}"
        imagesizes="(max-width: 680px) 80vw, 60vh"
        as="image"
        type="image/avif"
        fetchpriority="high">
{% endpartialdef %}


<section class="postcard-section">

    <h1>{{ postcard.title }}</h1>
    <div class="postcard">
        <img
            class="postcard-image"
            src="{{ postcard.image.large.url }}"
            srcset="{{ postcard.image.srcset }}"
            sizes="(max-width: 680px) 80vw, 60vh"
            fetchpriority="high"
            alt="{{ postcard.title }}">

        {% if postcard.description %}
            <div>{{ postcard.description|markdown_to_html }}</div>
        {% endif %}
    </div>

    <nav>
        <a href="{{ previous_postcard.get_absolute_url }}"{% if not previous_postcard %} class="disabled"{% endif %}>◅ last</a> ·
        <a href="{% url 'page' %}{% if section %}#{{ section|as_html_id }}{% endif %}">close</a> ·
        <a href="{{ next_postcard.get_absolute_url }}"{% if not next_postcard %} class="disabled"{% endif %}>next ▻</a>
    </nav>

</section>
