{% extends 'miaiqi_cards/base.html' %}
{% load compress i18n %}

{% block head %}
    {{ block.super }}

    <title>{% trans "miaiqi cards" %}</title>
    <meta name="description" content="{% trans "Wunderschöne handgezeichnete Künstler-Postkarten. Inspiriert von der Schönheit der Natur." %}" />
    <link
        rel="preload"
        href="{{ welcome_postcard.image.large.url }}"
        imagesrcset="{{ welcome_postcard.image.srcset }}"
        imagesizes="(width <= 680px) 100vw, 100vh"
        as="image"
        type="image/avif"
        fetchpriority="high">
    {% compress css inline %}{{ media.css }}{% endcompress %}
    {% compress js inline %}{{ media.js }}{% endcompress %}

{% endblock %}

{% block content %}

    <main>

        {% for section in regions.main.sections %}
            <section id="{{ section.obj.css_id }}" class="{{ section.obj.css_class }}">
                {{ section.html }}
            </section>
        {% endfor %}

    </main>

    <footer>

        {% for section in regions.footer.sections %}
            <div>
                {{ section.html }}
            </div>
        {% endfor %}

    </footer>

{% endblock %}
