{% extends 'miaiqi_cards/base.html' %}

{% block head %}

    <title>miaiqi cards</title>
    {{ block.super }}
    {{ media }}

{% endblock %}

{% block content %}

    <main>

        {% for section in regions.main.sections %}
            <section id="{{ section.obj.css_id }}" class="{{ section.obj.css_class }}">
                {{ section.html }}
            </section>
        {% endfor %}

    </main>

    <footer>

        {% for section in regions.footer.sections %}
            <div>
                {{ section.html }}
            </div>
        {% endfor %}

    </footer>

{% endblock %}
