{% extends 'miaiqi_cards/base.html' %}
{% load compress %}

{% block head %}
    {{ block.super }}

    <title>miaiqi cards</title>
    <link rel="preload" href="{{ welcome_postcard.image.url }}" as="image" type="image/avif" fetchpriority="high">
    {% compress css inline %}{{ media.css }}{% endcompress %}
    {% compress js inline %}{{ media.js }}{% endcompress %}

{% endblock %}

{% block content %}

    <main>

        {% for section in regions.main.sections %}
            <section id="{{ section.obj.css_id }}" class="{{ section.obj.css_class }}">
                {{ section.html }}
            </section>
        {% endfor %}

    </main>

    <footer>

        {% for section in regions.footer.sections %}
            <div>
                {{ section.html }}
            </div>
        {% endfor %}

    </footer>

{% endblock %}
