{% extends 'cards/base.html' %}
{% load static %}

{% block head %}
    <title>{{ postcards.1.title }}</title>
    <link rel="stylesheet" href="{% static 'cards/postcard.css' %}">
    {{ block.super }}
{% endblock %}

{% block content %}
    <main>
        <section id="postcard">
            <h1>{{ postcards.1.title }}</h1>
            <div class="postcard">
                <img class="postcard-image" src="{{ postcards.1.image.url }}" alt="{{ postcards.1.title }}">
                <p>{{ postcards.1.description }}</p>
            </div>
            <nav>
                <a href="{{ postcards.0.get_absolute_url }}"{% if not postcards.0 %} class="disabled"{% endif %}>◅ last</a> ·
                <a href="{% url 'page' %}#postcards">close</a> ·
                <a href="{{ postcards.2.get_absolute_url }}"{% if not postcards.2 %} class="disabled"{% endif %}>next ▻</a>
            </nav>
        </section>
    </main>
{% endblock %}