{% load cart_tags %}
<div class="shop">
    {% if shop.cart.is_empty %}
        <p>Your cart is empty.</p>
    {% else %}
        <ul>
        {% for item in cart %}
            <li>{{ item.quantity }} × {{ item.product }} —
                {{ item.total_price }}</li>
        {% endfor %}
        </ul>
        <p>Summary: {{ shop.cart.summary }}</p>
        <p>Discount: {{ shop.cart.discount_amount }}</p>
        <p>Total: {{ shop.cart.total }}</p>
    {% endif %}

    {{ shop.email_form }}

    <div class="buttons">
        <input type="button" value="Back" data-url="{% url 'shop-order' shop.shop.id %}" data-action="order">
        <input type="button" value="Buy" data-url="{% url 'shop-confirmation' shop.shop.id %}" data-action="confirmation">
    </div>

</div>
