{% load cart_tags %}
<div class="shop">
    <form>
        {% csrf_token %}

        {% for item in shop.cart %}
            <div class="row">
                <div>{{ item.product }}</div><div>{{ item.quantity }} Stk.</div><div>{{ item.total_price }} €</div>
            </div>
        {% endfor %}

        {% if shop.cart.discount_amount %}
            <div class="row"><div>Summary</div><div>{{ shop.cart.summary }} €</div></div>
            <div class="row"><div>Discount</div><div>- {{ shop.cart.discount_amount }} €</div></div>
        {% endif %}
        <div class="row"><div>Total</div><div>{{ shop.cart.total }} €</div></div>

        <div class="row">
            {% for field in shop.email_form %}<div>{{ field }}</div>{% endfor %}
        </div>

        <div class="row">
            <div><input type="button" value="Back" data-url="{% url 'shop-order' shop.shop.id %}" data-action="order"></div>
            <div><input type="button" value="Buy" data-url="{% url 'shop-confirmation' shop.shop.id %}" data-action="confirmation"></div>
        </div>
    </form>

</div>
