{% load markdown i18n %}

<div class="shop">
    {{ shop.confirmation_text|markdown_to_html }}

    {% for item in cart %}
        <div class="row">
            <div>{{ item.product }}</div><div>{{ item.quantity }} {% trans 'Stk.' %}</div><div>{{ item.total_price }} €</div>
        </div>
    {% endfor %}

    {% if cart.discount_amount %}
        <div class="row"><div>{% trans 'Zwischensumme' %}</div><div>{{ cart.summary }} €</div></div>
        <div class="row"><div>{% trans 'Rabatt' %}</div><div>- {{ cart.discount_amount }} €</div></div>
    {% endif %}
    <div class="row"><div>{% trans 'Gesamt' %}</div><div>{{ cart.total }} €</div></div>

    <div class="row">
        <div><input type="button" value="{% trans 'Neu' %}" data-url="{% url 'shop-order' shop.id %}?new" data-action="order"></div>
    </div>

</div>
