<div class="shop">
    <form method="POST">
        {% csrf_token %}
        {{ shop.formset.management_form }}

        {% for form in shop.formset %}
            {% if forloop.first %}
                <div class="headers">{% for field in form %}<div>{{ field.label }}</div>{% endfor %}</div>
            {% endif %}
            <div class="fields">
                {% for field in form %}
                    <div>{{ field }}</div>
                {% endfor %}
                <div><input class="remove-form" type="button" value="Delete"></div>
            </div>
        {% endfor %}

        <div class="buttons">
            <input type="button" value="Add" data-action="addForm">
            <input type="button" value="Checkout" data-url="{% url 'shop-checkout' shop.shop.id %}" data-action="checkout">
        </div>

    </form>
</div>
