<div class="shop">
    {% if shop.formset.errors %}<div>{{ shop.formset.errors }}</div>{% endif %}
    <form method="POST">
        {% csrf_token %}
        {{ shop.formset.management_form }}

        {% for form in shop.formset %}
            {% if forloop.first %}
                <div class="row">
                    {% for field in form %}<div>{{ field.label }}</div>{% endfor %}
                    <div></div>
                </div>
            {% endif %}
            <div class="row form">
                {% for field in form %}
                    <div{% if field.errors %} class="error"{% endif %}>{{ field }}</div>
                {% endfor %}
                <div><input class="remove-form" type="button" value="Delete"></div>
            </div>
        {% endfor %}

        <div class="row">
            <div><input type="button" value="Add" data-action="addForm"></div>
            <div><input type="button" value="Checkout" data-url="{% url 'shop-checkout' shop.shop.id %}" data-action="checkout"></div>
        </div>

    </form>
</div>
