{% load static %}

<h2>Gallerie</h2>
<div>
    {% for postcard in section.gallery.postcards.all %}
        <a href="{{ postcard.get_absolute_url }}?section_id={{ section.id }}">
            <figure>
                <img class="postcard-image" src="{{ postcard.image.url }}" alt="{{ postcard.title }}">
                <figcaption>{{ postcard.title }}</figcaption>
            </figure>
        </a>
    {% empty %}
        <p>No postcards available.</p>
    {% endfor %}
    <div class="postcard-image">More are coming soon...</div>
</div>
