/* Defaults */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

/* Color theme */

:root {
    --accent-color: #ad0808;
    --dark-color: #333;
    --not-so-dark-color: #666;
    --light-color: #ccc;
    --background-color: #fff;
    --background-cover-color: rgba(255, 255, 255, .9);
    --background-dark-color: #333;
}


/* Main Layout */

main {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

section:not(#welcome), footer {
    border-top: solid 1px var(--light-color);
    border-bottom: solid 1px var(--light-color);
    background-color: var(--background-cover-color);
    padding: 5vh 12vw;
    position: relative;
    top: 100vh;
}

section:not(#welcome) {
    padding-bottom: 20vh;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0;
}


/* Main Typography */

body {
    font-family: "Albert Sans", sans-serif;
    color: var(--dark-color);
}

h2 {
    font-family: "Cherry Swash", cursive;
    font-weight: normal;
    color: var(--dark-color);
    font-size: 10.5vh;
    line-height: 110%;
}

img.postcard-image, div.postcard-image {
    height: auto;
    display: block;
    box-shadow: var(--light-color) 4px 4px 3px;
    border: 1px solid var(--light-color);
    background-color: var(--background-color);
}

footer {
    color: var(--light-color);
    background-color: var(--dark-color);
}

/* Welcome Layout */

section#welcome {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: unset;
    margin-bottom: 0;
    position: fixed;
}

section#welcome > a > * {
    height: 100vh;
    width:auto;
}

section#welcome h1,
section#welcome img {
    border-right: 2px solid #ccc;
}

section#welcome h2 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 3vw;
    text-align: left;
    font-size: 10.5vh;
    line-height: 110%;
    color: var(--dark-color);
}


section#welcome h1 {
    font-family: "Albert Sans", sans-serif;
    font-size: 15vh;
    font-weight: bold;
    color: crimson;
    writing-mode: sideways-lr;
    text-orientation: sideways;
    padding: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 16vw;
    white-space: nowrap;
}

section#welcome a {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

section#welcome h2:hover {
    background-color: lightcyan;
    transition: background-color 500ms linear;
}

section#welcome h1:hover {
    background-color: lightpink;
    transition: background-color 500ms linear;
}

section#welcome img:hover {
    background-color: lightgoldenrodyellow;
    transition: background-color 500ms linear;
}


/* Postcards Layout */

section.gallery > div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 3vw;
    margin-top: 5vw;
    font-weight: 300;
}

section.gallery figure img {
    width: 22vw;
    margin-bottom: 10px;
}

section.gallery > div > div:last-child{
    width: 22vw;
    height: 22vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Postcards Typography */

section.gallery {
    font-size: 3.5vh;
    color: var(--not-so-dark-color);
}


/* Info Layout and Typography */

section.text-section p {
    font-family: Ysabeau, sans serif;
    font-size: 3vh;
    margin-top: 10px;
}