
h1 {
    font-size: 60px;
    font-family: Cherry Swash, serif;
    font-weight: 400;
}

.postcards-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: clamp(20px, 3vw, 40px);
    margin-top: clamp(30px, 5vw, 50px);
    font-weight: 300;
}

.postcard-item div {
    /* text-align: center; */
    margin-top: 10px;
    font-size: 24px;
    color: #999;
}

img.postcard-image {
    width: 300px;
}

div.postcard-image {
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #999;
}
