
h1 {
    font-size: 60px;
    font-family: "Cherry Swash", cursive;
    font-weight: 400;
}

.postcard-container {
    display: flex;
    flex-direction: row;
    gap: clamp(20px, 3vw, 40px);
    align-items: flex-start;
    margin-top: clamp(30px, 5vw, 50px);
}

img.postcard-image {
    max-width: 500px;
}

.postcard-container p {
    font-family: Ysabeau, sans serif;
    font-weight: 300;
    font-size: 28px;
}

main nav a {
    display: inline-block;
    margin-top: clamp(20px, 3vw, 40px);
    font-size: 24px;
}

