* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

/* Main Layout */

/* div.container, aside, main {
    border: solid 1px #ccc;
} */

body {
    padding: clamp(20px, 5vw, 40px);
    background-color: #fff;
}

div.container {
    padding-top: clamp(20px, 5vw, 40px);
    padding-left: clamp(20px, 5vw, 40px);
    display: flex;
    flex-direction: row;
    gap: clamp(10px, 3vw, 20px);
    align-items: stretch;
}

aside {
    flex-basis: 23%;
    position: sticky;
    top: clamp(40px, 10vw, 80px);
    align-self: flex-start;
}

main {
    max-width: 73%;
    padding-left: clamp(30px, 6vw, 50px);
    padding-right: clamp(30px, 6vw, 50px);
}

aside div.sidebar  {
    display: flex;
    flex-direction: column;
    gap: clamp(30px, 6vw, 50px);
}


/* Typography and Styling */

body {
    font-family: "Ysabeau", sans-serif;
    font-family: "Albert Sans", sans-serif;
    background: #fff;
    color:#333;
}

aside {
    font-family: "Albert Sans", sans-serif;
}

.sidebar-logo img {
    width: clamp(80px, 8vw, 200px);
}

.sidebar-logo h2 {
    margin-top: clamp(5px, 1vw, 10px);
}

.sidebar-logo h2 {
    font-size: 60px;
    line-height: 90%;
    font-weight: 100;
}

.sidebar-nav li {
    font-size: 25px;
    font-weight: 500;
    line-height: 140%;
}

/*Postcard style */

.postcard-image {
    height: auto;
    display: block;
    background: #fff;
    box-shadow: #ccc 4px 4px 3px;
    border: 1px solid #ccc;
}
