* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color:#666;
}

a:hover {
    text-decoration: underline;
}

/* Layout */

body {
    padding: clamp(20px, 5vw, 40px);
    background-color: #fff;
}

div.container {
    display: flex;
    flex-direction: row;
    gap: clamp(10px, 3vw, 20px);
    align-items: stretch;
}

.sidebar  {
    display: flex;
    flex-direction: column;
    gap: clamp(30px, 6vw, 50px);
    border: solid 1px #ccc;
}

.main-content  {
    flex-basis: 77%;
    border: solid 1px #ccc;
}


/* Typography and Styling */

body {
    font-family: "Albert Sans", ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
    background: #fff;
    color:#666;
}

.sidebar-logo img {
    max-width: 60%;
    display: block;
}

.sidebar-logo h2 {
    max-width: 60%;
    text-align: center;
    margin: 10px 0 0 0;
}

.sidebar-logo h2 {
    /* margin-bottom: 20px; */
    font-size: 40px;
    font-weight: 100;
}

.sidebar-nav li {
    font-size: 30px;
}

h1 {
    color: #333;
}

/* Postcard Images */

img.postcard-image {
    max-width: 300px;
    height: auto;
    border: 1px solid #ccc;
    padding: 2px;
    background: #fff;
}

.detail-image {
    max-width: 500px;
    border: 1px solid #ccc;
    padding: 2px;
    background: #fff;
}

.postcard-image {
    display: block;
    margin-bottom: 5px;
}