/* Welcome */

img.welcome-image {
    position: fixed;
    top: 0vh;
    left: 14vw;
    height: 100vh;
    width: auto;
    z-index: -1;
}

main {
  display: flex;
  flex-direction: column;
}

div.welcome-text {
    margin-top: 20vh;
    margin-left: 20vw;
}

main h1 {
    font-family: "Albert Sans", sans-serif;
    font-size: 42px;
    font-weight: 600;
    color: #ad0808;
    margin-bottom: 15px;
    padding-left: 10px;
}

main h2 {
    font-family: "Cherry Swash", cursive;
    font-weight: normal;
    color: black;
    font-size: 64px;
    line-height: 110%;
}