/* Defaults */

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

/* Color theme */

:root {
    --strong-color: #ad0808;
    --dark-color: #333;
    --not-so-dark-color: #666;
    --light-color: #ccc;
    --background-color: #fff;
    --background-cover-color: rgba(255, 255, 255, .9);
    --background-dark-color: #333;
}


/* Main Layout */

main {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}


/* Main Typography */

body {
    font-family: "Albert Sans", sans-serif;
    color: var(--dark-color);
}
