
section.postcard {
    margin-bottom: 0;
}

h1 {
    font-size: 64px;
    font-family: "Cherry Swash", cursive;
    font-weight: normal;
}

div.postcard {
    display: flex;
    flex-direction: row;
    gap: clamp(20px, 3vw, 40px);
    align-items: flex-start;
    margin-top: clamp(30px, 5vw, 50px);
}

div.postcard img {
    max-width: 500px;
}

div.postcard p {
    font-family: Ysabeau, sans serif;
    font-weight: 300;
    font-size: 28px;
}

nav a {
    display: inline-block;
    margin-top: clamp(20px, 3vw, 40px);
    font-size: 24px;
}

nav a.disabled {
    color: var(--light-color);
    pointer-events: none;
}
