
/* Default color-scheme. Overwritten by postcard specific css files. */
section.welcome-section {
    --strong-color: crimson;
    --h1-bg-color: lightpink;
    --h1-bg-color-trans: rgba(255, 182, 193, 0.6);
    --h2-bg-color: lightcyan;
    --h2-bg-color-trans: rgba(224, 255, 255, 0.6);
    --img-bg-color: lightgoldenrodyellow;
    --img-bg-color-trans: rgba(250, 250, 210, 0.6);
}

section.welcome-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: unset;
    margin-bottom: 0;
    position: fixed;
}

section.welcome-section :is(h1, h2, img) {
    height: 100vh;
    width:auto;
}

section.welcome-section div:has(> img) {
    height: 100vh;
    width: 100vh;
}

section.welcome-section img {
    border-right: 2px solid var(--light-color);
    border-left: 2px solid var(--light-color);
}

section.welcome-section h2 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 3vw;
    text-align: left;
    font-size: 10.5vh;
    line-height: 110%;
    color: var(--dark-color);
}


section.welcome-section h1 {
    font-family: "Albert Sans", sans-serif;
    font-size: 15vh;
    font-weight: bold;
    color: var(--strong-color);
    writing-mode: sideways-lr;
    text-orientation: sideways;
    padding: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 16vw;
    white-space: nowrap;
}

section.welcome-section a {
    padding: 0;
    margin: 0;
    text-decoration: none;
    position: relative;
}

section.welcome-section > a > div:first-child {
    position: absolute;
    font-size: 8vh;
    font-family: "Albert Sans", sans-serif;
    font-weight: 200;
    opacity: 0;
    width: 100%;
    height: 15vh;
    line-height: 15vh;
    text-align: center;
    border-bottom: 1px solid var(--light-color);
}

section.welcome-section > a:hover > div {
    opacity: 1;
    transition: opacity 500ms linear;
}

section.welcome-section :is(h1:hover, h2:hover, img:hover) {
    transition: background-color 500ms linear;
}

section.welcome-section h1:hover {
    background-color: var(--h1-bg-color);
}

section.welcome-section h2:hover {
    background-color: var(--h2-bg-color);
}

section.welcome-section img:hover {
    background-color: var(--img-bg-color);
}

section.welcome-section div:has(+ h1) {
    background-color: var(--h1-bg-color-trans);
}


section.welcome-section div:has(+ h2) {
    background-color: var(--h2-bg-color-trans);
}

section.welcome-section div:has(+ div) {
    background-color: var(--img-bg-color-trans);
}

@media screen and (max-width: 680px) {

    section.welcome-section :is(h1, h2, img) {
        width: 100vw;
        height:auto;
    }

    section.welcome-section div:has(> img) {
        height: 100vw;
        width: 100vw;
    }

    section.welcome-section img {
        border-left: 0;
        border-right: 0;
        border-top: 2px solid var(--light-color);
        border-bottom: 2px solid var(--light-color);
    }

    section.welcome-section {
        flex-direction: column;
        justify-content: space-evenly;
    }

    section.welcome-section h1 {
        font-family: "Albert Sans", sans-serif;
        font-size: 15vw;
        font-weight: bold;
        color: var(--strong-color);
        writing-mode: horizontal-tb;
        text-orientation: upright;
    }

    section.welcome-section h2 {
        font-size: 9vw;
    }

    section.welcome-section > a:hover > div {
        opacity: 0;
    }
}