{% load static compress %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <link rel="preload" href="../fonts/AlbertSans-VariableFont_wght.ttf" as="font" type="font/ttf">
        <link rel="preload" href="../fonts/CherrySwash-Regular.ttf" as="font" type="font/ttf">
        <link rel="preload" href="../fonts/Ysabeau-VariableFont_wght.ttf" as="font" type="font/ttf">
        {% compress css inline %}
            <link rel="stylesheet" href="{% static 'miaiqi_cards/base.css' %}">
        {% endcompress %}
    {% endblock %}
</head>
<body>{% block content %}{% endblock %}</body>
</html>
