{% load static compress %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <link rel="preload" href="/static/fonts/Albert_Sans/AlbertSans-VariableFont_wght.woff2" as="font" type="font/woff2" crossorigin>
        <link rel="preload" href="/static/fonts/Cherry_Swash/CherrySwash-Regular.woff2" as="font" type="font/woff2" crossorigin>
        <link rel="preload" href="/static/fonts/Ysabeau/Ysabeau-VariableFont_wght.woff2" as="font" type="font/woff2" crossorigin>
        {% compress css inline %}
            <link rel="stylesheet" href="{% static 'miaiqi_cards/base.css' %}">
        {% endcompress %}
    {% endblock %}
</head>
<body>{% block content %}{% endblock %}</body>
</html>
