
section.postcard-section {
    padding: 5vh 12vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 8vh;
    font-family: "Cherry Swash", cursive;
    font-weight: normal;
}

div.postcard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3vw;
    align-items: center;
    margin-top: 3vw;

}

div.postcard img {
    max-height: 60vh;
    max-width: 80vw;
    box-shadow: var(--light-color) 4px 4px 3px;
    border: 1px solid var(--light-color);
}

div.postcard > div {
    font-family: Ysabeau, sans serif;
    font-weight: 300;
    font-size: 3vh;
    max-width: 60vh;
}

nav a {
    font-family: "Albert Sans", sans serif;
    display: inline-block;
    margin-top: 3vw;
    font-size: 3vh;
}

nav a.disabled {
    color: var(--light-color);
    pointer-events: none;
}
